# Cleaning Datasets

In [10]:
import pandas as pd

### Cleaning November Dataset

In [11]:
nf = pd.read_csv(r'C:\Users\jmkop\Desktop\Mason\Fall 2024\CS 504\Data\2019-Nov.csv')
print("Shape before dropping null values:", nf.shape)
nf = nf.dropna()
print("Shape after dropping null values:", nf.shape)

Shape before dropping null values: (67501979, 9)
Shape after dropping null values: (42089564, 9)

In [12]:
nf.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2
5,2019-11-01 00:00:01 UTC,view,1306894,2053013558920217191,computers.notebook,hp,360.09,520772685,816a59f3-f5ae-4ccd-9b23-82aa8c23d33c

In [13]:
nf.dtypes

event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
dtype: object

In [ ]:
# Downloading Dataset
nf.to_csv('2019-Nov-Cleaned.csv', index=False)

### Cleaning December Dataset

In [14]:
df = pd.read_csv(r'C:\Users\jmkop\Desktop\Mason\Fall 2024\CS 504\Data\2019-Dec.csv')
print("Shape before dropping null values:", df.shape)
df = df.dropna()
print("Shape after dropping null values:", df.shape)

Shape before dropping null values: (67542878, 9)
Shape after dropping null values: (53605851, 9)

In [21]:
df.head(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-12-01 00:00:00 UTC,view,1005105,2232732093077520756,construction.tools.light,apple,1302.48,556695836,ca5eefc5-11f9-450c-91ed-380285a0bc80
2,2019-12-01 00:00:01 UTC,view,2402273,2232732100769874463,appliances.personal.massager,bosch,313.52,539453785,5ee185a7-0689-4a33-923d-ba0130929a76

In [20]:
df.tail(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
67542876,2019-12-31 23:59:59 UTC,view,4803759,2232732079706079299,sport.bicycle,xiaomi,17.99,574723072,2f967c6e-b6c4-4971-8599-d34f86570e29
67542877,2019-12-31 23:59:59 UTC,view,1005132,2232732093077520756,construction.tools.light,apple,1276.76,595117926,e6987784-2204-425e-b674-213916741f58

In [17]:
# Defining Filter
start_time = '2019-12-01 00:00:00'
end_time = '2019-12-02 23:59:59'

# Filtering rows
filtered_df = df[(df['event_time'] >= start_time) & (df['event_time'] <= end_time)]

print("Shape after filtering dates:", filtered_df.shape)

Shape after filtering dates: (2778105, 9)

In [23]:
filtered_df.head(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-12-01 00:00:00 UTC,view,1005105,2232732093077520756,construction.tools.light,apple,1302.48,556695836,ca5eefc5-11f9-450c-91ed-380285a0bc80
2,2019-12-01 00:00:01 UTC,view,2402273,2232732100769874463,appliances.personal.massager,bosch,313.52,539453785,5ee185a7-0689-4a33-923d-ba0130929a76

In [22]:
filtered_df.tail(2)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
3562324,2019-12-02 23:59:57 UTC,view,1004233,2232732093077520756,construction.tools.light,apple,1161.68,581140975,7e0377ee-1c8a-4010-95d8-61292a55b714
3562325,2019-12-02 23:59:58 UTC,view,2900925,2232732102103663163,furniture.bedroom.blanket,dauscher,46.31,560556869,efeec552-869f-440a-af97-6d3407b5860e

In [24]:
# Downloading CSV 
filtered_df.to_csv('2019-Dec-Cleaned.csv', index=False)