In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("matt2434/cleaned-ecommerce-data")

print("Path to dataset files:", path)

In [2]:
import pandas as pd
import os

# Storing File Paths
nov_name = '2019-Nov-Cleaned.csv'
nov_path = os.path.join(path, nov_name)

dec_name = '2019-Dec-Cleaned.csv'
dec_path = os.path.join(path, dec_name)

# Loading File Paths
nov = pd.read_csv(nov_path)
dec = pd.read_csv(dec_path)

# Check when complete
dec.tail()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
2778100,2019-12-02 23:59:57 UTC,view,1002545,2232732093077520756,construction.tools.light,apple,591.75,512659486,903a5112-46f2-4cc8-b8e1-41835ca6000d
2778101,2019-12-02 23:59:57 UTC,view,1004870,2232732093077520756,construction.tools.light,samsung,275.54,518171531,7bf5aacd-54a7-42c4-8d88-82a160cf12d7
2778102,2019-12-02 23:59:57 UTC,view,39100015,2053013562116277013,construction.tools.light,luxvisage,5.92,581137827,285fc46c-9ca9-4060-8486-5a19bb258705
2778103,2019-12-02 23:59:57 UTC,view,1004233,2232732093077520756,construction.tools.light,apple,1161.68,581140975,7e0377ee-1c8a-4010-95d8-61292a55b714
2778104,2019-12-02 23:59:58 UTC,view,2900925,2232732102103663163,furniture.bedroom.blanket,dauscher,46.31,560556869,efeec552-869f-440a-af97-6d3407b5860e

In [3]:
# Combining Datasets
df = pd.concat([nov, dec], ignore_index=True)
df.tail()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
44867664,2019-12-02 23:59:57 UTC,view,1002545,2232732093077520756,construction.tools.light,apple,591.75,512659486,903a5112-46f2-4cc8-b8e1-41835ca6000d
44867665,2019-12-02 23:59:57 UTC,view,1004870,2232732093077520756,construction.tools.light,samsung,275.54,518171531,7bf5aacd-54a7-42c4-8d88-82a160cf12d7
44867666,2019-12-02 23:59:57 UTC,view,39100015,2053013562116277013,construction.tools.light,luxvisage,5.92,581137827,285fc46c-9ca9-4060-8486-5a19bb258705
44867667,2019-12-02 23:59:57 UTC,view,1004233,2232732093077520756,construction.tools.light,apple,1161.68,581140975,7e0377ee-1c8a-4010-95d8-61292a55b714
44867668,2019-12-02 23:59:58 UTC,view,2900925,2232732102103663163,furniture.bedroom.blanket,dauscher,46.31,560556869,efeec552-869f-440a-af97-6d3407b5860e

In [4]:
df_purchase = df[df['event_type'] == 'purchase']
df_purchase.head(15)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
83,2019-11-01 00:01:04 UTC,purchase,1005161,2053013555631882655,electronics.smartphone,xiaomi,211.92,513351129,e6b7ce9b-1938-4e20-976c-8b4163aea11d
388,2019-11-01 00:04:51 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,562958505,0f039697-fedc-40fa-8830-39c1a024351d
528,2019-11-01 00:06:33 UTC,purchase,1801881,2053013554415534427,electronics.video.tv,samsung,488.80,557746614,4d76d6d3-fff5-4880-8327-e9e57b618e0e
529,2019-11-01 00:06:34 UTC,purchase,5800823,2053013553945772349,electronics.audio.subwoofer,nakamichi,123.56,514166940,8ef5214a-86ad-4d0b-8df3-4280dd411b47
613,2019-11-01 00:07:38 UTC,purchase,30000218,2127425436764865054,construction.tools.welding,magnetta,254.78,515240495,0253151d-5c84-4809-ba02-38ac405494e1
834,2019-11-01 00:10:12 UTC,purchase,1801881,2053013554415534427,electronics.video.tv,samsung,488.80,557746614,4d76d6d3-fff5-4880-8327-e9e57b618e0e
874,2019-11-01 00:10:38 UTC,purchase,14300017,2053013557603205653,electronics.audio.music_tools.piano,cortland,84.94,538417163,3dae61c1-d018-44fd-b95a-b6b7659f11e3
885,2019-11-01 00:10:47 UTC,purchase,1005124,2053013555631882655,electronics.smartphone,apple,1583.48,562210838,a58d94c8-c0d4-4f24-bf3c-04c4e69ea153
914,2019-11-01 00:11:04 UTC,purchase,1002524,2053013555631882655,electronics.smartphone,apple,531.26,549256216,dcbdc6e4-cd49-4ee8-95c5-e85f3c618fa1
935,2019-11-01 00:11:15 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,513645631,61ceaf50-820a-4858-9a68-bab804d47a22
975,2019-11-01 00:11:44 UTC,purchase,1480557,2053013561092866779,computers.desktop,netechnics,772.19,555942729,2f64db5b-13d5-4895-8bc8-94bc50c51abc
1026,2019-11-01 00:12:13 UTC,purchase,1801881,2053013554415534427,electronics.video.tv,samsung,488.80,557746614,4d76d6d3-fff5-4880-8327-e9e57b618e0e
1105,2019-11-01 00:13:10 UTC,purchase,1005129,2053013555631882655,electronics.smartphone,apple,1337.23,518267348,61f913b1-ed5f-4495-8139-7e3e20be92c3
1130,2019-11-01 00:13:32 UTC,purchase,1004767,2053013555631882655,electronics.smartphone,samsung,242.63,549987439,934b3598-e2de-46f7-9c1c-5d3a2bf4e83c
1131,2019-11-01 00:13:33 UTC,purchase,1002532,2053013555631882655,electronics.smartphone,apple,532.57,566281998,21df43a6-be6a-44f6-b41c-c8fcbeb2e952

In [5]:
df_purchase.shape

(707597, 9)

In [11]:
from mlxtend.frequent_patterns import apriori, association_rules

In [13]:
# Group by session and product
basket = df_purchase.groupby(['user_session', 'product_id'])['event_type'].count().unstack().reset_index().fillna(0)

# Convert quantities into binary (0 or 1) format
basket.set_index('user_session', inplace=True)
basket = basket.applymap(lambda x: 1 if x > 0 else 0)

C:\Users\jmkop\AppData\Local\Temp\ipykernel_21112\132228190.py:2: PerformanceWarning: The following operation may generate 14169042528 cells in the resulting pandas object.
  basket = df_purchase.groupby(['user_session', 'product_id'])['event_type'].count().unstack().reset_index().fillna(0)

MemoryError: Unable to allocate 106. GiB for an array with shape (599824, 23622) and data type float64